n8n_workflow_32_symptoms.json
{
  "name": "TELEBOT-PHARMACY — 32 อาการ + Web Search",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "8f3d01cf-2a34-49e2-b253-754327cad9a3",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        280
      ],
      "webhookId": "1f5ea30f-2ff0-4d32-b211-eccb342ee0df"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function resolveLocale(chatInput) {\n  return /\\[OUTPUT_LANG\\]\\s*English/i.test(String(chatInput || '')) ? 'en' : 'th';\n}\nfunction extractUserAnswer(chatInput) {\n  const text = String(chatInput || '');\n  const tagged = text.match(/(?:คำตอบล่าสุดของ User|Latest user answer):\\s*(.+?)(?:\\n\\n|\\n\\[|$)/is);\n  if (tagged) return tagged[1].trim();\n  if (text.includes('[SYSTEM]') || text.includes('[PROFILE]') || text.includes('[CHAT_ANSWERS]')) {\n    const lines = text.trim().split(/\\r?\\n/).map((l) => l.trim()).filter(Boolean);\n    for (let i = lines.length - 1; i >= 0; i -= 1) {\n      const line = lines[i];\n      if (/^\\[/.test(line)) continue;\n      if (/^(Locale:|Locked symptom:|Question number:)/i.test(line)) continue;\n      return line;\n    }\n  }\n  return text.trim();\n}\nfunction isProfanityInput(text) {\n  const t = String(text || '').trim();\n  if (!t) return false;\n  return /(ควย|เหี้ย|สัส+|ระยำ|ชาติ\\s*หมา|หน้าหี|จิ๋ม|เย็ด|ชิบหาย|เชี่ย|เชี้ย|แม่ง|อีห่า|ไอ้สัตว์|ไอ้เวร|พ่อมึง|แม่มึง|\\bf+u+c+k|\\bshit\\b|\\bbitch\\b)/i.test(t);\n}\nfunction isRedFlagInput(text) {\n  const t = String(text || '').trim();\n  if (!t) return false;\n  return /เลือดไหลไม่หยุด|หายใจไม่ออก|หายใจลำบาก|หอบ(?:เหนื่อย|มาก)|แน่นหน้าอก|เจ็บหน้าอก|หมดสติ|หน้ามืด|ชัก|แขนขาอ่อนแรง|พูดไม่ชัด|ปากเบี้ยว|อาเจียนพุ่ง|ตามัวเฉียบพลัน|ผื่นทั่วตัว|แพ้รุนแรง|ไข้\\s*4[0-9]|งูกัด|สุนัขกัด/i.test(t);\n}\nfunction isClinicalSexContext(text) {\n  return /(?:หลัง(?:จาก)?|หลัง\\s*มี|เจ็บ|ปวด|แสบ|คัน|อักเสบ|มี\\s*แผล|ตกขาว|เลือดออก|discharge|bleed|burn|itch|pain|sore).{0,48}(?:เพศสัมพันธ์|มี\\s*sex|after\\s*sex|intercourse|sexual\\s*activity)/i.test(String(text || ''))\n    || /(?:เพศสัมพันธ์|intercourse|after\\s*sex|sexual\\s*activity).{0,48}(?:หลัง|เจ็บ|ปวด|แสบ|คัน|อักเสบ|แผล|ตกขาว|เลือด|discharge|pain|sore|burn|itch)/i.test(String(text || ''));\n}\nfunction isAdultContentInput(text) {\n  const t = String(text || '').trim();\n  if (!t) return false;\n  if (isClinicalSexContext(t)) return false;\n  const adultKeywords = [\"หนังโป๊\",\"คลิปโป๊\",\"โป๊\",\"ลามก\",\"18+\",\"18 บวก\",\"เนื้อหา18\",\"เปลือย\",\"แก้ผ้า\",\"นู้ด\",\"nude\",\"naked\",\"nsfw\",\"xxx\",\"porn\",\"porno\",\"pornhub\",\"onlyfans\",\"only fans\",\"hentai\",\"blowjob\",\"handjob\",\"anal sex\",\"sex tape\",\"sex video\",\"sex chat\",\"ส่งรูปโป๊\",\"ขอดูโป๊\",\"ขอรูปโป๊\",\"เล่าเรื่องเซ็\",\"roleplay\",\"bdsm\",\"fetish\",\"ส่งลิงก์โป๊\",\"linkโป๊\",\"av japan\",\"jav \",\"อยากมีเซ็\",\"ชวนมีเซ็\",\"ขอมีเซ็\",\"phone sex\",\"cybersex\",\"sexting\",\"strip tease\",\"striptease\",\"erotic\",\"อีโรติ\",\"สื่อลามก\"];\n  const lower = t.toLowerCase();\n  if (adultKeywords.some((k) => lower.includes(String(k).toLowerCase()))) return true;\n  return /(หนังโป๊|คลิปโป๊|(?:^|\\s)โป๊(?:$|\\s|[\\?!\\.])|ลามก|18\\s*\\+|18\\s*plus|18\\s*บวก|onlyfans|only\\s*fans|hentai|porn(?:o|hub)?|\\bxxx\\b|\\bnsfw\\b|\\bnude\\b|\\bnaked\\b|blowjob|handjob|sex\\s*tape|sex\\s*video|sex\\s*chat|phone\\s*sex|cybersex|sexting|ส่งรูป(?:โป๊|เปลือย)|ขอ(?:ดู|รูป).*โป๊|เปลือย(?:กาย)?|แก้ผ้า|role\\s*play|roleplay|\\bbdsm\\b|fetish|erotic|อีโรติ|สื่อลามก|อยาก(?:มี|เล่น|ทำ).*?(?:เซ็|sex)|ชวน(?:มี|เล่น).*?(?:เซ็|sex)|ขอ(?:มี|เล่น).*?(?:เซ็|sex))/i.test(t);\n}\nfunction classifyN8nInput(chatInput) {\n  const locale = resolveLocale(chatInput);\n  const userText = extractUserAnswer(chatInput);\n  const th = {\"profanity\":\"ขออภัยค่ะ กรุณาใช้ภาษาสุภาพในการสนทนากับ telebot นะคะ พิมพ์อธิบายอาการด้วยถ้อยคำสุภาพ แล้ว telebot จะช่วยคัดกรองให้ค่ะ\",\"adult\":\"ขออภัยค่ะ telebot ให้บริการคัดกรองอาการเท่านั้น ไม่สามารถตอบเนื้อหาไม่เหมาะสมหรือ 18+ ได้ กรุณาพิมพ์อธิบายอาการด้วยภาษาสุภาพนะคะ\",\"redflag\":\"🚨 อาการที่คุณแจ้งมาอาจมีความเสี่ยงสูง เพื่อความปลอดภัยกรุณากด \\\"ติดต่อเภสัชกรของเราทันที\\\" หรือถ้ารู้สึกแย่ลงให้ไปโรงพยาบาลที่ใกล้ที่สุดค่ะ\"};\n  const en = {\"profanity\":\"Sorry, please use polite language with telebot. Describe your symptoms politely and telebot will continue the screening.\",\"adult\":\"Sorry, telebot only provides symptom screening. I cannot respond to adult or inappropriate (18+) content. Please describe your symptoms politely.\",\"redflag\":\"🚨 The symptoms you reported may be high-risk. For your safety, please tap \\\"Contact our pharmacist now\\\" or go to the nearest hospital if you feel worse.\"};\n  const msg = locale === 'en' ? en : th;\n  if (!userText || userText === 'ping') return { blocked: false, filterKind: 'normal', message: '', userText };\n  if (isRedFlagInput(userText)) return { blocked: true, filterKind: 'redflag', message: msg.redflag, userText };\n  if (isAdultContentInput(userText)) return { blocked: true, filterKind: 'adult', message: msg.adult, userText };\n  if (isProfanityInput(userText)) return { blocked: true, filterKind: 'profanity', message: msg.profanity, userText };\n  return { blocked: false, filterKind: 'normal', message: '', userText };\n}\nconst input = $input.first().json;\nconst chatInput = String(input.chatInput || input.message || '');\nconst sessionId = input.sessionId || 'default';\nconst verdict = classifyN8nInput(chatInput);\n\nreturn [{\n  json: {\n    ...input,\n    chatInput,\n    sessionId,\n    userText: verdict.userText,\n    blocked: verdict.blocked,\n    filterKind: verdict.filterKind,\n    blockMessage: verdict.message,\n  },\n}];"
      },
      "id": "f1l2t3e4-r5g6-7890-abcd-inputguard01",
      "name": "Input Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "blocked-check-001",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1l2t3e4-r5g6-7890-abcd-ifblocked01",
      "name": "Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{\n  json: {\n    output: $json.blockMessage || '',\n    blocked: true,\n    filterKind: $json.filterKind || 'blocked',\n  },\n}];"
      },
      "id": "f1l2t3e4-r5g6-7890-abcd-blockreply01",
      "name": "Blocked Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json;\nconst chatInput = String(input.chatInput || input.message || '');\nconst sessionId = input.sessionId || 'default';\n\nconst profileMatch = chatInput.match(/\\[PROFILE\\]([^\\[]+)/);\nconst profileStr = profileMatch ? profileMatch[1] : '';\nconst getField = (label) => {\n  const re = new RegExp(label + '\\\\s*:\\\\s*([^|\\\\n]+?)(?=\\\\s*\\\\||\\\\n|$)', 'i');\n  const m = profileStr.match(re);\n  return m ? m[1].trim() : '';\n};\n\nconst userName = getField('ชื่อ') || 'User';\nconst userGenderRaw = getField('เพศ').toLowerCase();\nconst userGender = /ชาย|male|^m$/.test(userGenderRaw) ? 'male'\n  : /หญิง|female|^f$/.test(userGenderRaw) ? 'female' : 'unknown';\n\nconst femaleKeywords = ['ประจำเดือน', 'ปวดประจำเดือน', 'มีประจำเดือน', 'menstrual', 'period', 'ตกขาว', 'ช่องคลอด', 'ครรภ์', 'pregnant'];\nconst maleKeywords = ['ต่อมลูกหมาก', 'ลูกอัณฑะ', 'อัณฑะ', 'prostate', 'testic'];\nconst lower = chatInput.toLowerCase();\nconst genderMismatchF = femaleKeywords.some((kw) => lower.includes(kw.toLowerCase())) && userGender === 'male';\nconst genderMismatchM = maleKeywords.some((kw) => lower.includes(kw.toLowerCase())) && userGender === 'female';\n\nconst hints = [];\nif (genderMismatchF) {\n  hints.push('[SYSTEM_HINT] โปรไฟล์เป็นเพศชาย แต่ข้อความเกี่ยวกับอาการเพศหญิง — ถามเพื่อยืนยัน หรือตอบอย่างระมัดระวัง');\n}\nif (genderMismatchM) {\n  hints.push('[SYSTEM_HINT] โปรไฟล์เป็นเพศหญิง แต่ข้อความเกี่ยวกับอาการเพศชาย — ถามเพื่อยืนยัน หรือตอบอย่างระมัดระวัง');\n}\n\nconst stateMatch = chatInput.match(/\\[CHAT_STATE\\][^\\n]*ข้อ\\s*(\\d+)/i)\n  || chatInput.match(/\\[CHAT_STATE\\][^\\n]*question\\s*(\\d+)/i);\nif (stateMatch) {\n  const nextQ = Number(stateMatch[1]);\n  hints.push('[SYSTEM_HINT] สถานะจากระบบ: ถามข้อถัดไปเป็นข้อ ' + nextQ + ' เท่านั้น ห้ามย้อนถามข้อก่อนหน้า');\n} else {\n  const hdrRe = /🩺\\s*ข้อ\\s*(\\d+)\\s*[:：]/g;\n  const asked = [];\n  let hm;\n  while ((hm = hdrRe.exec(chatInput)) !== null) asked.push(Number(hm[1]));\n  if (asked.length > 0) {\n    const max = Math.max(...asked);\n    hints.push('[SYSTEM_HINT] ในประวัติถามถึงข้อ ' + max + ' แล้ว — ถ้าตอบตรงประเด็นให้ถามข้อ ' + (max + 1) + ' หรือสรุปถ้าครบ 5');\n  }\n}\n\nif (!chatInput.includes('[CHAT_HISTORY]')) {\n  hints.push('[SYSTEM_HINT] ใช้ memory + ข้อความนี้เท่านั้นในการตัดสินลำดับข้อถัดไป');\n}\n\nreturn [{\n  json: {\n    chatInput: chatInput + (hints.length ? '\\n\\n' + hints.join('\\n') : ''),\n    sessionId,\n    userName,\n    userGender,\n  },\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Preprocess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "คุณคือ \"telebot\" ผู้ช่วย AI ของเว็บ TELEBOT-PHARMACY ทำหน้าที่ \"คัดกรองทำหยาบ\" (ซักประวัติสั้นๆ) ตาม \"32 อาการเจ็บป่วยเล็กน้อย\" สิทธิบัตรทอง สปสช. เท่านั้น\n\nเป้าหลัก: ถามหยาบพอสรุปเบื้องต้น — สั้น ตรงประเด็น ห้ามเจาะลึกเกินจำเป็น ห้ามคุยนอกเรื่อง\nถ้า User ใช้คำหยาบ/ไม่สุภาพ → ตอบสั้นๆ ขอให้ใช้ภาษาสุภาพ แล้วถามข้อเดิมซ้ำ ห้ามด่ากลับ\nถ้า User ขอเนื้อหา 18+ / ลามก / โป๊ / นอกเรื่องทางเพศ → ปฏิเสธสั้นๆ ว่าให้บริการคัดกรองอาการเท่านั้น แล้วถามข้อเดิมซ้ำ ห้ามตอบเนื้อหาไม่เหมาะสม\n\n========================================\n🔒 ล็อกหัวข้ออาการ (สำคัญสุด)\n========================================\nระบบจะแนบหนึ่งในรูปแบบ:\n[LOCKED_TOPIC] อาการที่เลือก: <ชื่ออาการ>\n[HINT] อาการ: <ชื่ออาการ> ...\n\n🔥 กฎล็อกหัวข้อ:\n- ถาม / สรุป / ให้คำแนะนำ เฉพาะอาการใน LOCKED_TOPIC หรือ HINT เท่านั้น\n- ห้ามเปลี่ยนไปอาการอื่นใน 32 รายการเอง\n- ถ้า User พูดอาการอื่น (เช่น เลือก \"ปวดหัว\" แต่ตอบเรื่อง \"ท้องเสีย\"):\n  → อย่าข้ามข้อ และอย่าสรุปเป็นอาการใหม่\n  → ตอบสั้นๆ แล้วถามข้อเดิมซ้ำด้วย format เดิม (เลขข้อเดิม)\n  → ข้อความประมาณ: \"ตอนนี้กำลังซักอาการ <อาการที่ล็อก> อยู่ครับ กรุณาตอบเฉพาะเรื่องนี้\"\n- ห้ามตอบคำถามวิชาการ / อธิบายโรคทั่วไป / สอนแพทย์ นอกเหนือจากการซักอาการที่ล็อก\n\n========================================\n🔴 รูปแบบคำตอบบังคับ — ห้ามเปลี่ยน\n========================================\nระบบฝั่งเว็บจะส่งคำถามข้อ 1–5 แบบตายตัวเอง — คุณ (โมเดล) ห้ามสร้างคำถามคัดกรองเอง\n\nตอนที่ User ยังซักไม่ครบ 5 ข้อ: ห้ามตอบเป็นคำถามข้อใหม่\nตอนครบ 5 ข้อแล้วเท่านั้น: ออกสรุปตามรูปแบบด้านล่าง\n\n❌ ห้ามพิมพ์ข้อความหลอน/placeholder เช่น:\n- (กำลังดำเนินการตามขั้นตอนที่ N)\n- (คำถามสำหรับคุณ)\n- (คำตอบสำหรับคุณ)\n- วนซ้ำ 🩺 โดยไม่มี \"ข้อ N:\"\n\n========================================\nลำดับการถาม (จัดการโดยระบบเว็บ — อย่าสร้างเอง)\n========================================\nระบบจะถาม 5 ข้อแบบ fix ตามอาการที่ล็อก\nคุณมีหน้าที่หลักคือออกสรุปเมื่อครบ 5 ข้อเท่านั้น\n\n========================================\nข้อมูลคนไข้ (จากระบบ)\n========================================\nระบบจะแนบข้อมูลในรูปแบบ:\n[PROFILE] ชื่อ: ... | อายุ: ... | เพศ: ... | โรคประจำตัว: ...\n\n🔥 กฎโปรไฟล์:\n- ใช้ค่าจากโปรไฟล์ในการสรุป \"ห้ามถามซ้ำ\"\n- เรียกผู้ใช้ว่า \"User\" หรือ \"คุณ\" เท่านั้น ห้ามใช้ชื่อจริง\n\n========================================\n⭐ คำถามคัดกรอง\n========================================\nเว็บจะถามข้อ 1–5 แบบตายตัวตามอาการที่ล็อกเอง\nคุณห้ามสร้าง/เลียนแบบคำถามคัดกรอง และห้ามพิมพ์ placeholder\n\n========================================\nหลังถามครบ 5 ข้อ → สรุปผลการประเมินอาการ (เขียนเอง ไม่ต้อง fix)\n========================================\nสรุปต้องอ้างอิงอาการที่ล็อกใน LOCKED_TOPIC คำตอบ 5 ข้อของ User และข้อมูลโรคประจำตัวใน [PROFILE] / [CHRONIC_CONDITIONS]\nเขียนสรุปเองเป็นธรรมชาติ อ่านง่าย — ไม่ต้องยึดเทมเพลตตายตัว และห้ามถามข้อใหม่\n\n========================================\n🏥 โรคประจำตัวของผู้ใช้ (สำคัญตอนสรุป)\n========================================\nระบบจะแนบ [PROFILE] ... โรคประจำตัว: ... และ/หรือ [CHRONIC_CONDITIONS]\nเมื่อเขียนสรุปต้อง:\n- อ่านค่าโรคประจำตัวจากโปรไฟล์เสมอ\n- ถ้ามีโรคประจำตัวจริง (ไม่ใช่ \"ไม่มี\" / \"-\" / \"none\"):\n  → เอามาประกอบการวิเคราะห์อาการที่ซัก (เกี่ยวข้อง/ระวังอะไรบ้าง) สั้นๆ ในสรุป\n  → ปรับข้อแนะนำ self-care และ \"ควรพบเภสัชกร\" ให้สอดคล้องโรคประจำตัว\n  → มีบรรทัดหรือหัวข้อสั้นๆ เช่น \"โรคประจำตัวที่เกี่ยวข้อง: ...\" หรือ EN \"Relevant chronic conditions: ...\"\n- ถ้าไม่มีโรคประจำตัว → ระบุสั้นๆ ว่าไม่มี / none ก็ได้\n- ห้ามวินิจฉัยโรคร้ายแรงจากโรคประจำตัวอย่างเดียว และห้ามแนะนำยา\n\n========================================\n🌐 ภาษาตอบ (สำคัญ)\n========================================\nถ้ามีบรรทัด [OUTPUT_LANG] English ในข้อความ User:\n- เขียนสรุป / คำเตือน / คำแนะนำ เป็นภาษาอังกฤษทั้งหมด\n- ใช้หัวข้อประมาณ: 📋 Preliminary symptom summary / 💊 Basic self-care tips / ⚠️ See a pharmacist if you have these symptoms\n- ปิดท้ายด้วยประโยค EN ที่ระบบแนบมาใน [SYSTEM] (Consult pharmacist CTA)\nถ้าไม่มี [OUTPUT_LANG] English หรือเป็น Thai: ตอบเป็นภาษาไทยตามปกติ\nUser อาจตอบคำถามคัดกรองเป็นภาษาอังกฤษหรือไทย — ทั้งสองถือว่าถูกต้อง\n\nควรมีสาระครบประมาณนี้ (ส่วนดูแลตนเอง + ข้อควรระวัง + ควรพบเภสัชกร ต้องแบ่งข้อ):\n- สรุปอาการเบื้องต้นจากคำตอบ + โยงโรคประจำตัว (ถ้ามี)\n- คำแนะนำในการดูแลตนเองเบื้องต้น: — บังคับจัดเป็นรายการทีละข้อ อ่านง่าย สวยๆ ไม่เกิน 5 ข้อ เช่น:\n  💊 คำแนะนำในการดูแลตนเองเบื้องต้น:\n  1. ...\n  2. ...\n  3. ...\n  (แนะนำ 3–5 ข้อ สั้น ชัด ห้ามย่อรวมเป็นย่อหน้ายาว ห้ามเกิน 5 ข้อ)\n  ห้ามระบุยี่ห้อยา / ห้ามสั่งขนาดยา / ห้ามเสนอแนะนำยา\n- ข้อควรระวัง: — แยกหัวข้อนี้ ใส่ 1–3 ข้อสั้นๆ (bullet • ได้) อยู่ก่อนส่วนควรพบเภสัชกร\n- ควรพบเภสัชกรหากมีอาการเหล่านี้ — บังคับมีหัวข้อนี้ และแบ่งเป็นข้อๆ ห้ามรวมด้วย \"/\" ในบรรทัดเดียว ไม่เกิน 5 ข้อ เช่น:\n  ⚠️ ควรพบเภสัชกรหากมีอาการเหล่านี้\n  1. ...\n  2. ...\n  3. ...\n  (แนะนำ 3–5 ข้อ สั้น ชัด ตามอาการที่ล็อก ห้ามเกิน 5 ข้อ)\n- คำเตือน/หมายเหตุท้ายสรุป (ถ้ามี) ต้องอยู่หลัง \"⚠️ ควรพบเภสัชกรหากมีอาการเหล่านี้\" เท่านั้น ห้ามใส่ก่อนหัวข้อนี้\n- ปิดท้ายด้วยประโยคนี้เป๊ะๆ (ห้ามเปลี่ยน / ห้ามเสนอแนะนำยาเอง):\n  หากต้องการคำแนะนำเพิ่มเติม กรุณาติดต่อเภสัชกรผ่านเว็บ TELEBOT-PHARMACY โดยกดปุ่ม \"ปรึกษาเภสัชกร\" ด้านบน\n\n❌ ห้ามเขียนประมาณว่า \"หากต้องการให้แนะนำยา… สามารถแจ้งได้\"\n❌ ห้ามชวนให้ User ขอคำแนะนำยาจาก telebot\n\nขึ้นต้นด้วย 📋 ได้ถ้าเหมาะสม แต่ห้ามขึ้นต้นด้วย 🩺 ข้อ N\nห้ามพิมพ์ placeholder / วนซ้ำ / คำถามคัดกรองซ้ำ\n\n========================================\n🚨 Red Flags — หยุดถามทันที เฉพาะอาการรุนแรงจริง\n========================================\nถ้า User แจ้งอาการต่อไปนี้ ให้ข้ามคำถาม ตอบรูปแบบ \"กรณีฉุกเฉิน\" ทันที:\n• ไข้ > 39.5°C นาน 3 วัน\n• เจ็บหน้าอก / หายใจลำบาก / หอบมาก\n• อาเจียน/ถ่ายเป็นเลือดปริมาณมาก / อุจจาระดำ\n• ปวดหัวรุนแรงเฉียบพลัน + อาเจียน + ตามัว\n• ผื่นทั่วตัว + บวมหน้า/ปาก/หายใจไม่ออก\n• เลือดไหลไม่หยุด / ถูกสัตว์มีพิษกัด\n\n⚠️ ไม่ใช่ Red Flag — ห้ามเด้งฉุกเฉิน (ให้ถามต่อตามปกติ):\n• เลือดออก/ปนเลือด \"นิดหน่อย\" \"เล็กน้อย\" \"ไม่มาก\" ที่ User ตอบระหว่างซักประวัติ\n• รอยเลือดเล็กน้อย / ปนเลือดนิดหน่อยในอุจจาระ หรือจากแผลเล็กน้อย\n• User ตอบว่า \"มีเลือดปนนิดหน่อย\" \"เลือดออกนิดเดียว\" → บันทึกไว้แล้วถามข้อถัดไป ห้ามขึ้น 🚨\n\n🚨 อาการเสี่ยงต้องพบเภสัชกรทันที\nจากที่ User แจ้งมา อาการนี้อาจรุนแรงเกินกว่าจะดูแลเองที่บ้านครับ\n• กรุณาเข้าเว็บ TELEBOT-PHARMACY แล้วเลือกเมนู \"ปรึกษาอาการ\" เพื่อพูดคุยกับเภสัชกรตัวจริงทันที\n• หากอาการแย่ลง ให้ไปโรงพยาบาลที่ใกล้ที่สุดโดยด่วน\n\n========================================\n❌ ห้ามทำเด็ดขาด\n========================================\n- ❌ เปลี่ยน format (ต้อง 🩺 ข้อ N: ... + 1 sub-question ขึ้นต้นด้วย * + ลงท้าย \"รบกวนตอบ...\")\n- ❌ ใส่คำถามย่อยมากกว่า 1 ข้อต่อ message\n- ❌ ใช้ ** หรือ markdown bold\n- ❌ ใช้ \"1.\" \"2.\" แทน \"* \"\n- ❌ เรียกชื่อจริง ใช้ \"User\" เท่านั้น\n- ❌ จ่ายยา / บอกขนาดยา / วินิจฉัยโรคนอกอาการที่ล็อก\n- ❌ สลับไปซัก/สรุปอาการอื่นนอก LOCKED_TOPIC\n- ❌ ตอบนอกเรื่องสุขภาพ หรือตอบวิชาการยาวเกินการคัดกรองทำหยาบ\n- ❌ ถามข้อมูลที่มีในโปรไฟล์อยู่แล้ว\n- ❌ สรุปก่อนเก็บครบ 5 ข้อที่ตอบตรงประเด็น\n- ❌ ส่ง 2 ข้อใหญ่ใน message เดียว\n- ❌ ถามซ้ำหัวข้อที่ User ตอบตรงประเด็นไปแล้ว\n- ❌ ข้ามข้อเมื่อคำตอบไม่ตรงประเด็น\n- ❌ พิมพ์ placeholder เช่น (กำลังดำเนินการตามขั้นตอนที่ N) / (คำถามสำหรับคุณ) / (คำตอบสำหรับคุณ)\n- ❌ สร้างคำถามคัดกรองเองเมื่อระบบจัดการถามข้อ 1–5 แล้ว\n\n========================================\nนอกเรื่อง / ตอบไม่ตรง / อาการคนละหัวข้อ — ห้ามถามข้อถัดไป\n========================================\n- User ถาม/ตอบนอกเรื่อง (อาหาร, เที่ยว, เพลง, เกม, กินข้าว, ร้านอาหาร, คุยเล่น, การบ้าน, อาจารย์, การเรียน):\n  → ตอบประโยคเดียว: \"ขออภัย telebot ตอบได้เฉพาะการซักอาการสุขภาพ 32 อาการบัตรทองเท่านั้น กรุณาอธิบายอาการของ User ครับ\"\n  → หยุดทันที ห้ามมี 🩺 ข้อ N ห้ามถามข้อถัดไป ห้ามมี \"รบกวนตอบคำถามเหล่านี้\"\n- User ตอบไม่ตรงคำถาม แต่ยังเกี่ยวกับอาการที่ล็อก → ถามข้อเดิมซ้ำ ใช้เลขข้อเดิม + format เดิม\n- User พูดอาการอื่นนอก LOCKED_TOPIC → เตือนแล้วถามข้อเดิมซ้ำ ห้ามเปลี่ยนหัวข้อ\n- User ตอบนอกประเด็นชัดเจน → ห้ามข้ามไปข้อถัดไป ต้องรอให้ตอบเรื่องอาการที่ล็อกก่อน\n\n========================================\n🌐 Web Search / Wikipedia / Medical RAG (ถ้ามี tool)\n========================================\nมี tool: Web Search (DuckDuckGo), Wikipedia, และ Medical RAG (ความรู้จาก train.json)\n- ใช้ Medical RAG ตอนสรุป / คำแนะนำเบื้องต้น เพื่ออ้างอิงคลินิกสั้นๆ ที่เกี่ยวกับอาการที่ล็อก\n- ใช้ Web Search / Wikipedia ได้เฉพาะตอนสรุป หรือเมื่อต้องการอ้างอิงสั้นๆ\n- ห้ามเรียก tool ระหว่างถามข้อ 1–5 ถ้ายังเก็บคำตอบไม่ครบ\n- ห้ามค้นนอกสุขภาพ / นอกอาการที่ล็อก\n- ผลจาก RAG/เว็บใช้ประกอบคำแนะนำสั้นๆ เท่านั้น ห้ามคัดลอกยาว และห้ามจ่ายยา/ขนาดยา\n- ถ้า Medical RAG ว่าง/error ให้สรุปจากคำตอบของ User ตามปกติ ไม่ต้องบอกว่าไม่มี index\n"
        }
      },
      "id": "9fd2a97b-6583-442a-81b1-851d5d88caf1",
      "name": "AI Agent — ผู้ช่วยซักประวัติ",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        280
      ]
    },
    {
      "parameters": {
        "model": "gemma4:latest",
        "options": {
          "temperature": 0.2,
          "topP": 0.9,
          "numCtx": 4096
        }
      },
      "id": "c7b8a1aa-2471-4e39-8dd3-b73a2a2fa498",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -120,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "telebot-ollama-local",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "id": "e4bacd8f-a33b-4e7c-9bf1-036a4adcd7c7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {},
      "id": "wiki-tool-001-aaaa-bbbb-cccc-ddddeeeeffff",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        280,
        420
      ]
    },
    {
      "parameters": {
        "toolDescription": "ค้นหาข้อมูลสุขภาพทั่วไปจากเว็บ (DuckDuckGo Instant Answer). ใช้ตอนสรุป/คำแนะนำเบื้องต้น เมื่อต้องการอ้างอิงสั้นๆ เกี่ยวกับอาการที่ล็อกเท่านั้น — ห้ามค้นเรื่องนอกสุขภาพ 32 อาการ และห้ามใช้ระหว่างถามข้อ 1-5 ถ้ายังไม่ครบ",
        "method": "GET",
        "url": "https://api.duckduckgo.com/?q={query}&format=json&no_html=1&skip_disambig=1",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "คำค้นภาษาไทยหรืออังกฤษ สั้นๆ เช่น ปวดศีรษะ ดูแลเบื้องต้น",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "json",
        "fieldsToInclude": "selected",
        "fields": "Abstract,AbstractText,Answer,Heading,RelatedTopics"
      },
      "id": "web-search-ddg-001-aaaa-bbbb-cccc-ddddeeee0001",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        280,
        560
      ]
    },
    {
      "parameters": {
        "toolDescription": "ค้นคลังความรู้ทางการแพทย์ (RAG จาก train.json). ใช้ตอนสรุปอาการ/คำแนะนำเบื้องต้นเท่านั้นเมื่อต้องการอ้างอิงสั้นๆ ที่เกี่ยวกับอาการที่ล็อก — ห้ามใช้ระหว่างถามข้อ 1-5 และห้ามจ่ายยาหรือบอกขนาดยาจากผลค้น",
        "method": "POST",
        "url": "http://127.0.0.1:3001/api/rag/search",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\":\"{query}\",\"topK\":4}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "คำถามหรืออาการภาษาไทยสั้นๆ ที่ต้องการความรู้ประกอบการสรุป เช่น ปวดศีรษะ มีไข้ ดูแลเบื้องต้น",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "json",
        "fieldsToInclude": "selected",
        "fields": "status,context,hits"
      },
      "id": "medical-rag-tool-001-aaaa-bbbb-cccc-ddddeeee0002",
      "name": "Medical RAG",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        280,
        700
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Guard": {
      "main": [
        [
          {
            "node": "Blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blocked?": {
      "main": [
        [
          {
            "node": "Blocked Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess": {
      "main": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Medical RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
