n8n_workflow_32_symptoms.json
{
  "name": "TELEBOT-PHARMACY — 32 อาการ + Web Search",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "8f3d01cf-2a34-49e2-b253-754327cad9a3",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        280
      ],
      "webhookId": "1f5ea30f-2ff0-4d32-b211-eccb342ee0df"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json;\nconst chatInput = String(input.chatInput || input.message || '');\nconst sessionId = input.sessionId || 'default';\n\nconst profileMatch = chatInput.match(/\\[PROFILE\\]([^\\[]+)/);\nconst profileStr = profileMatch ? profileMatch[1] : '';\nconst getField = (label) => {\n  const re = new RegExp(label + '\\\\s*:\\\\s*([^|\\\\n]+?)(?=\\\\s*\\\\||\\\\n|$)', 'i');\n  const m = profileStr.match(re);\n  return m ? m[1].trim() : '';\n};\n\nconst userName = getField('ชื่อ') || 'User';\nconst userGenderRaw = getField('เพศ').toLowerCase();\nconst userGender = /ชาย|male|^m$/.test(userGenderRaw) ? 'male'\n  : /หญิง|female|^f$/.test(userGenderRaw) ? 'female' : 'unknown';\n\nconst femaleKeywords = ['ประจำเดือน', 'ปวดประจำเดือน', 'มีประจำเดือน', 'menstrual', 'period', 'ตกขาว', 'ช่องคลอด', 'ครรภ์', 'pregnant'];\nconst maleKeywords = ['ต่อมลูกหมาก', 'ลูกอัณฑะ', 'อัณฑะ', 'prostate', 'testic'];\nconst lower = chatInput.toLowerCase();\nconst genderMismatchF = femaleKeywords.some((kw) => lower.includes(kw.toLowerCase())) && userGender === 'male';\nconst genderMismatchM = maleKeywords.some((kw) => lower.includes(kw.toLowerCase())) && userGender === 'female';\n\nconst hints = [];\nif (genderMismatchF) {\n  hints.push('[SYSTEM_HINT] โปรไฟล์เป็นเพศชาย แต่ข้อความเกี่ยวกับอาการเพศหญิง — ถามเพื่อยืนยัน หรือตอบอย่างระมัดระวัง');\n}\nif (genderMismatchM) {\n  hints.push('[SYSTEM_HINT] โปรไฟล์เป็นเพศหญิง แต่ข้อความเกี่ยวกับอาการเพศชาย — ถามเพื่อยืนยัน หรือตอบอย่างระมัดระวัง');\n}\n\nconst stateMatch = chatInput.match(/\\[CHAT_STATE\\][^\\n]*ข้อ\\s*(\\d+)/i)\n  || chatInput.match(/\\[CHAT_STATE\\][^\\n]*question\\s*(\\d+)/i);\nif (stateMatch) {\n  const nextQ = Number(stateMatch[1]);\n  hints.push('[SYSTEM_HINT] สถานะจากระบบ: ถามข้อถัดไปเป็นข้อ ' + nextQ + ' เท่านั้น ห้ามย้อนถามข้อก่อนหน้า');\n} else {\n  const hdrRe = /🩺\\s*ข้อ\\s*(\\d+)\\s*[:：]/g;\n  const asked = [];\n  let hm;\n  while ((hm = hdrRe.exec(chatInput)) !== null) asked.push(Number(hm[1]));\n  if (asked.length > 0) {\n    const max = Math.max(...asked);\n    hints.push('[SYSTEM_HINT] ในประวัติถามถึงข้อ ' + max + ' แล้ว — ถ้าตอบตรงประเด็นให้ถามข้อ ' + (max + 1) + ' หรือสรุปถ้าครบ 5');\n  }\n}\n\nif (!chatInput.includes('[CHAT_HISTORY]')) {\n  hints.push('[SYSTEM_HINT] ใช้ memory + ข้อความนี้เท่านั้นในการตัดสินลำดับข้อถัดไป');\n}\n\nreturn [{\n  json: {\n    chatInput: chatInput + (hints.length ? '\\n\\n' + hints.join('\\n') : ''),\n    sessionId,\n    userName,\n    userGender,\n  },\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Preprocess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "คุณคือ \"telebot\" ผู้ช่วย AI ของเว็บ TELEBOT-PHARMACY ทำหน้าที่ \"คัดกรองทำหยาบ\" (ซักประวัติสั้นๆ) ตาม \"32 อาการเจ็บป่วยเล็กน้อย\" สิทธิบัตรทอง สปสช. เท่านั้น\n\nเป้าหลัก: ถามหยาบพอสรุปเบื้องต้น — สั้น ตรงประเด็น ห้ามเจาะลึกเกินจำเป็น ห้ามคุยนอกเรื่อง\nถ้า User ใช้คำหยาบ/ไม่สุภาพ → ตอบสั้นๆ ขอให้ใช้ภาษาสุภาพ แล้วถามข้อเดิมซ้ำ ห้ามด่ากลับ\n\n========================================\n🔒 ล็อกหัวข้ออาการ (สำคัญสุด)\n========================================\nระบบจะแนบหนึ่งในรูปแบบ:\n[LOCKED_TOPIC] อาการที่เลือก: <ชื่ออาการ>\n[HINT] อาการ: <ชื่ออาการ> ...\n\n🔥 กฎล็อกหัวข้อ:\n- ถาม / สรุป / ให้คำแนะนำ เฉพาะอาการใน LOCKED_TOPIC หรือ HINT เท่านั้น\n- ห้ามเปลี่ยนไปอาการอื่นใน 32 รายการเอง\n- ถ้า User พูดอาการอื่น (เช่น เลือก \"ปวดหัว\" แต่ตอบเรื่อง \"ท้องเสีย\"):\n  → อย่าข้ามข้อ และอย่าสรุปเป็นอาการใหม่\n  → ตอบสั้นๆ แล้วถามข้อเดิมซ้ำด้วย format เดิม (เลขข้อเดิม)\n  → ข้อความประมาณ: \"ตอนนี้กำลังซักอาการ <อาการที่ล็อก> อยู่ครับ กรุณาตอบเฉพาะเรื่องนี้\"\n- ห้ามตอบคำถามวิชาการ / อธิบายโรคทั่วไป / สอนแพทย์ นอกเหนือจากการซักอาการที่ล็อก\n\n========================================\n🔴 รูปแบบคำตอบบังคับ — ห้ามเปลี่ยน\n========================================\nระบบฝั่งเว็บจะส่งคำถามข้อ 1–5 แบบตายตัวเอง — คุณ (โมเดล) ห้ามสร้างคำถามคัดกรองเอง\n\nตอนที่ User ยังซักไม่ครบ 5 ข้อ: ห้ามตอบเป็นคำถามข้อใหม่\nตอนครบ 5 ข้อแล้วเท่านั้น: ออกสรุปตามรูปแบบด้านล่าง\n\n❌ ห้ามพิมพ์ข้อความหลอน/placeholder เช่น:\n- (กำลังดำเนินการตามขั้นตอนที่ N)\n- (คำถามสำหรับคุณ)\n- (คำตอบสำหรับคุณ)\n- วนซ้ำ 🩺 โดยไม่มี \"ข้อ N:\"\n\n========================================\nลำดับการถาม (จัดการโดยระบบเว็บ — อย่าสร้างเอง)\n========================================\nระบบจะถาม 5 ข้อแบบ fix ตามอาการที่ล็อก\nคุณมีหน้าที่หลักคือออกสรุปเมื่อครบ 5 ข้อเท่านั้น\n\n========================================\nข้อมูลคนไข้ (จากระบบ)\n========================================\nระบบจะแนบข้อมูลในรูปแบบ:\n[PROFILE] ชื่อ: ... | อายุ: ... | เพศ: ... | โรคประจำตัว: ...\n\n🔥 กฎโปรไฟล์:\n- ใช้ค่าจากโปรไฟล์ในการสรุป \"ห้ามถามซ้ำ\"\n- เรียกผู้ใช้ว่า \"User\" หรือ \"คุณ\" เท่านั้น ห้ามใช้ชื่อจริง\n\n========================================\n⭐ คำถามคัดกรอง\n========================================\nเว็บจะถามข้อ 1–5 แบบตายตัวตามอาการที่ล็อกเอง\nคุณห้ามสร้าง/เลียนแบบคำถามคัดกรอง และห้ามพิมพ์ placeholder\n\n========================================\nหลังถามครบ 5 ข้อ → สรุปผลการประเมินอาการ (เขียนเอง ไม่ต้อง fix)\n========================================\nสรุปต้องอ้างอิงอาการที่ล็อกใน LOCKED_TOPIC และคำตอบ 5 ข้อของ User เท่านั้น\nเขียนสรุปเองเป็นธรรมชาติ อ่านง่าย — ไม่ต้องยึดเทมเพลตตายตัว และห้ามถามข้อใหม่\n\nควรมีสาระครบประมาณนี้ (จัดรูปแบบได้อิสระ):\n- สรุปอาการเบื้องต้นจากคำตอบ\n- วิธีดูแลตนเองเบื้องต้น (ห้ามระบุยี่ห้อยา / ห้ามสั่งขนาดยา / ห้ามเสนอแนะนำยา)\n- เมื่อไหร่ควรพบเภสัชกร\n- ปิดท้ายด้วยประโยคนี้เป๊ะๆ (ห้ามเปลี่ยน / ห้ามเสนอแนะนำยาเอง):\n  หากต้องการคำแนะนำเพิ่มเติม กรุณาติดต่อเภสัชกรผ่านเว็บ TELEBOT-PHARMACY ที่เมนู \"ปรึกษาอาการ\" ครับ\n\n❌ ห้ามเขียนประมาณว่า \"หากต้องการให้แนะนำยา… สามารถแจ้งได้\"\n❌ ห้ามชวนให้ User ขอคำแนะนำยาจาก telebot\n\nขึ้นต้นด้วย 📋 ได้ถ้าเหมาะสม แต่ห้ามขึ้นต้นด้วย 🩺 ข้อ N\nห้ามพิมพ์ placeholder / วนซ้ำ / คำถามคัดกรองซ้ำ\n\n========================================\n🚨 Red Flags — หยุดถามทันที เฉพาะอาการรุนแรงจริง\n========================================\nถ้า User แจ้งอาการต่อไปนี้ ให้ข้ามคำถาม ตอบรูปแบบ \"กรณีฉุกเฉิน\" ทันที:\n• ไข้ > 39.5°C นาน 3 วัน\n• เจ็บหน้าอก / หายใจลำบาก / หอบมาก\n• อาเจียน/ถ่ายเป็นเลือดปริมาณมาก / อุจจาระดำ\n• ปวดหัวรุนแรงเฉียบพลัน + อาเจียน + ตามัว\n• ผื่นทั่วตัว + บวมหน้า/ปาก/หายใจไม่ออก\n• เลือดไหลไม่หยุด / ถูกสัตว์มีพิษกัด\n\n⚠️ ไม่ใช่ Red Flag — ห้ามเด้งฉุกเฉิน (ให้ถามต่อตามปกติ):\n• เลือดออก/ปนเลือด \"นิดหน่อย\" \"เล็กน้อย\" \"ไม่มาก\" ที่ User ตอบระหว่างซักประวัติ\n• รอยเลือดเล็กน้อย / ปนเลือดนิดหน่อยในอุจจาระ หรือจากแผลเล็กน้อย\n• User ตอบว่า \"มีเลือดปนนิดหน่อย\" \"เลือดออกนิดเดียว\" → บันทึกไว้แล้วถามข้อถัดไป ห้ามขึ้น 🚨\n\n🚨 อาการเสี่ยงต้องพบเภสัชกรทันที\nจากที่ User แจ้งมา อาการนี้อาจรุนแรงเกินกว่าจะดูแลเองที่บ้านครับ\n• กรุณาเข้าเว็บ TELEBOT-PHARMACY แล้วเลือกเมนู \"ปรึกษาอาการ\" เพื่อพูดคุยกับเภสัชกรตัวจริงทันที\n• หากอาการแย่ลง ให้ไปโรงพยาบาลที่ใกล้ที่สุดโดยด่วน\n\n========================================\n❌ ห้ามทำเด็ดขาด\n========================================\n- ❌ เปลี่ยน format (ต้อง 🩺 ข้อ N: ... + 1 sub-question ขึ้นต้นด้วย * + ลงท้าย \"รบกวนตอบ...\")\n- ❌ ใส่คำถามย่อยมากกว่า 1 ข้อต่อ message\n- ❌ ใช้ ** หรือ markdown bold\n- ❌ ใช้ \"1.\" \"2.\" แทน \"* \"\n- ❌ เรียกชื่อจริง ใช้ \"User\" เท่านั้น\n- ❌ จ่ายยา / บอกขนาดยา / วินิจฉัยโรคนอกอาการที่ล็อก\n- ❌ สลับไปซัก/สรุปอาการอื่นนอก LOCKED_TOPIC\n- ❌ ตอบนอกเรื่องสุขภาพ หรือตอบวิชาการยาวเกินการคัดกรองทำหยาบ\n- ❌ ถามข้อมูลที่มีในโปรไฟล์อยู่แล้ว\n- ❌ สรุปก่อนเก็บครบ 5 ข้อที่ตอบตรงประเด็น\n- ❌ ส่ง 2 ข้อใหญ่ใน message เดียว\n- ❌ ถามซ้ำหัวข้อที่ User ตอบตรงประเด็นไปแล้ว\n- ❌ ข้ามข้อเมื่อคำตอบไม่ตรงประเด็น\n- ❌ พิมพ์ placeholder เช่น (กำลังดำเนินการตามขั้นตอนที่ N) / (คำถามสำหรับคุณ) / (คำตอบสำหรับคุณ)\n- ❌ สร้างคำถามคัดกรองเองเมื่อระบบจัดการถามข้อ 1–5 แล้ว\n\n========================================\nนอกเรื่อง / ตอบไม่ตรง / อาการคนละหัวข้อ — ห้ามถามข้อถัดไป\n========================================\n- User ถาม/ตอบนอกเรื่อง (อาหาร, เที่ยว, เพลง, เกม, กินข้าว, ร้านอาหาร, คุยเล่น, การบ้าน, อาจารย์, การเรียน):\n  → ตอบประโยคเดียว: \"ขออภัย telebot ตอบได้เฉพาะการซักอาการสุขภาพ 32 อาการบัตรทองเท่านั้น กรุณาอธิบายอาการของ User ครับ\"\n  → หยุดทันที ห้ามมี 🩺 ข้อ N ห้ามถามข้อถัดไป ห้ามมี \"รบกวนตอบคำถามเหล่านี้\"\n- User ตอบไม่ตรงคำถาม แต่ยังเกี่ยวกับอาการที่ล็อก → ถามข้อเดิมซ้ำ ใช้เลขข้อเดิม + format เดิม\n- User พูดอาการอื่นนอก LOCKED_TOPIC → เตือนแล้วถามข้อเดิมซ้ำ ห้ามเปลี่ยนหัวข้อ\n- User ตอบนอกประเด็นชัดเจน → ห้ามข้ามไปข้อถัดไป ต้องรอให้ตอบเรื่องอาการที่ล็อกก่อน\n\n========================================\n🌐 Web Search / Wikipedia (ถ้ามี tool)\n========================================\nมี tool: Web Search (DuckDuckGo) และ Wikipedia\n- ใช้ได้เฉพาะตอนสรุป / คำแนะนำเบื้องต้น (หลังครบ 5 ข้อ) หรือเมื่อต้องการอ้างอิงสั้นๆ เรื่องอาการที่ล็อก\n- ห้ามเรียก tool ระหว่างถามข้อ 1–5 ถ้ายังเก็บคำตอบไม่ครบ\n- ห้ามค้นนอกสุขภาพ / นอกอาการที่ล็อก\n- ผลค้นมาใช้ประกอบคำแนะนำสั้นๆ เท่านั้น ห้ามคัดลอกยาว และห้ามจ่ายยา/ขนาดยาจากเว็บ\n"
        }
      },
      "id": "9fd2a97b-6583-442a-81b1-851d5d88caf1",
      "name": "AI Agent — ผู้ช่วยซักประวัติ",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        280
      ]
    },
    {
      "parameters": {
        "model": "gemma4:latest",
        "options": {
          "temperature": 0.2,
          "topP": 0.9,
          "numCtx": 4096
        }
      },
      "id": "c7b8a1aa-2471-4e39-8dd3-b73a2a2fa498",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -120,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "telebot-ollama-local",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "id": "e4bacd8f-a33b-4e7c-9bf1-036a4adcd7c7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {},
      "id": "wiki-tool-001-aaaa-bbbb-cccc-ddddeeeeffff",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        280,
        420
      ]
    },
    {
      "parameters": {
        "toolDescription": "ค้นหาข้อมูลสุขภาพทั่วไปจากเว็บ (DuckDuckGo Instant Answer). ใช้ตอนสรุป/คำแนะนำเบื้องต้น เมื่อต้องการอ้างอิงสั้นๆ เกี่ยวกับอาการที่ล็อกเท่านั้น — ห้ามค้นเรื่องนอกสุขภาพ 32 อาการ และห้ามใช้ระหว่างถามข้อ 1-5 ถ้ายังไม่ครบ",
        "method": "GET",
        "url": "https://api.duckduckgo.com/?q={query}&format=json&no_html=1&skip_disambig=1",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "คำค้นภาษาไทยหรืออังกฤษ สั้นๆ เช่น ปวดศีรษะ ดูแลเบื้องต้น",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "json",
        "fieldsToInclude": "selected",
        "fields": "Abstract,AbstractText,Answer,Heading,RelatedTopics"
      },
      "id": "web-search-ddg-001-aaaa-bbbb-cccc-ddddeeee0001",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        280,
        560
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess": {
      "main": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — ผู้ช่วยซักประวัติ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
